
#page-create-point form .field-check {
  flex-direction: row;
  align-items: center;
}

#page-create-point form .field-check input[type=checkbox] {
  background: #F0F0F5;
}

#page-create-point form .field-check label {
  margin: 0 0 0 8px;
}

#page-create-point form .leaflet-container {
  
}

#page-create-point form button {
  
}

#page-create-point form button:hover {
  
}

.items-grid {

}

.items-grid li {
  
}

.items-grid li span {
  
}

.items-grid li.selected {
  
}
